{% extends 'layout.html' %}

{% block content %}

     <div class="jumbotron" style="padding: 5px 20px">


        <h1>修改相册</h1>

      </div>

    {% include 'user_menu.html' %}

    <div class="col-md-8">

        <div class="row">
            {% for message in get_flashed_messages(category_filter=['err']) %}
                <h3 style="color: red">{{ message }}</h3>
            {% endfor %}
            {% for message in get_flashed_messages(category_filter=['ok']) %}
                <h3 style="color: green">{{ message }}</h3>
            {% endfor %}

        <form role="form" method="post">
            <div class="col-md-4">
                <div class="form-group">
                <input type="file" id="album_upload" name="album_upload" class="form-control" multiple>

            </div>

            </div>

            <div class="col-md-4">
                <div class="form-group" >
                <input type="submit" class="form-control btn-primary" value="上传相册图片">

            </div>

            </div>



        </form>
    </div>
        <div class="row" style="margin-top: 10px">

            {% for item in album.photo %}
                <div class="col-md-4">
                    <img width="250px" height="250px" src="{{ item.imgurl }}" style="padding: 5px 3px"  >
                    <br>
                <a>设为封面</a>
                <a>删除此图</a>
                </div>

            {% endfor %}

            </div>
        </div>




{% endblock %}

{% block js_code %}
<script>
    $(document).ready(
        function () {

             $('#nav-6').addClass('active')

        }
    )
</script>
{% endblock %}



