{% extends 'layout.html' %}

{% block content %}
    
    <div class="page-header">

        <a style="display: inline-block;font-size: x-large;margin: 5px 5px;">所有分类</a>
        <a style="display: inline-block;font-size: large;margin: 5px 5px;">AJ1</a>
        <a style="display: inline-block;font-size: large;margin: 5px 5px;">AJ4</a>
        <a style="display: inline-block;font-size: large;margin: 5px 5px;">AJ6</a>
        <a style="display: inline-block;font-size: large;margin: 5px 5px;">AJ11</a>
        <a style="display: inline-block;font-size: large;margin: 5px 5px;">AJ13</a>
        <a style="display: inline-block;font-size: large;margin: 5px 5px;">AF1</a>
        <a style="display: inline-block;font-size: large;margin: 5px 5px;">大黄靴</a>

    </div>


    <div class="container">
        <div class="col-md-3">
            <div class="media-card">
                <div class="panel panel-body" style="display:block; padding: 3px">
                    <div class="card-title">
                        <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                             西安交大四季风光
                        </span>

                        <span style="font-size: small;font-weight: 600;color: #0c0c0c">
                            牛二蛋
                        </span>
                    </div>

                    <div class="card-body">
                        <div class="card-image">
                            <a href="album_browse.html" target="_blank"></a>
                                <img src="{{ url_for('static',filename='uploads/143.png') }}" width="250px" height="150px">
                        </div>

                        <div class="card-status" style="font-size: large; font-weight: 500;color: #2c4762">
                            <span>浏览量（10k）</span> <span>收藏量（10k）</span>

                        </div>
                    </div>


                </div>

            </div>


        </div>
        <div class="col-md-3">
                <div class="media-card">
                    <div class="panel panel-body" style="display:block; padding: 3px">
                        <div class="card-title">
                            <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                                 西安交大四季风光
                            </span>

                            <span style="font-size: small;font-weight: 600;color: #0c0c0c">
                                牛二蛋
                            </span>
                        </div>

                        <div class="card-body">
                            <div class="card-image">
                                <a href="album_browse.html" target="_blank"></a>
                                    <img src="{{ url_for('static',filename='uploads/143.png') }}" width="250px" height="150px">
                            </div>

                            <div class="card-status" style="font-size: large; font-weight: 500;color: #2c4762">
                                <span>浏览量（10k）</span> <span>收藏量（10k）</span>

                            </div>
                        </div>


                    </div>

                </div>


            </div>
        <div class="col-md-3">
                <div class="media-card">
                    <div class="panel panel-body" style="display:block; padding: 3px">
                        <div class="card-title">
                            <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                                 西安交大四季风光
                            </span>

                            <span style="font-size: small;font-weight: 600;color: #0c0c0c">
                                牛二蛋
                            </span>
                        </div>

                        <div class="card-body">
                            <div class="card-image">
                                <a href="album_browse.html" target="_blank"></a>
                                    <img src="{{ url_for('static',filename='uploads/143.png') }}" width="250px" height="150px">
                            </div>

                            <div class="card-status" style="font-size: large; font-weight: 500;color: #2c4762">
                                <span>浏览量（10k）</span> <span>收藏量（10k）</span>

                            </div>
                        </div>


                    </div>

                </div>


            </div>
        <div class="col-md-3">
                <div class="media-card">
                    <div class="panel panel-body" style="display:block; padding: 3px">
                        <div class="card-title">
                            <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                                 西安交大四季风光
                            </span>

                            <span style="font-size: small;font-weight: 600;color: #0c0c0c">
                                牛二蛋
                            </span>
                        </div>

                        <div class="card-body">
                            <div class="card-image">
                                <a href="album_browse.html" target="_blank"></a>
                                    <img src="{{ url_for('static',filename='uploads/143.png') }}" width="250px" height="150px">
                            </div>

                            <div class="card-status" style="font-size: large; font-weight: 500;color: #2c4762">
                                <span>浏览量（10k）</span> <span>收藏量（10k）</span>

                            </div>
                        </div>


                    </div>

                </div>


            </div>
        <div class="col-md-3">
                <div class="media-card">
                    <div class="panel panel-body" style="display:block; padding: 3px">
                        <div class="card-title">
                            <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                                 西安交大四季风光
                            </span>

                            <span style="font-size: small;font-weight: 600;color: #0c0c0c">
                                牛二蛋
                            </span>
                        </div>

                        <div class="card-body">
                            <div class="card-image">
                                <a href="album_browse.html" target="_blank"></a>
                                    <img src="{{ url_for('static',filename='uploads/143.png') }}" width="250px" height="150px">
                            </div>

                            <div class="card-status" style="font-size: large; font-weight: 500;color: #2c4762">
                                <span>浏览量（10k）</span> <span>收藏量（10k）</span>

                            </div>
                        </div>


                    </div>

                </div>


            </div>
        <div class="col-md-3">
                <div class="media-card">
                    <div class="panel panel-body" style="display:block; padding: 3px">
                        <div class="card-title">
                            <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                                 西安交大四季风光
                            </span>

                            <span style="font-size: small;font-weight: 600;color: #0c0c0c">
                                牛二蛋
                            </span>
                        </div>

                        <div class="card-body">
                            <div class="card-image">
                                <a href="album_browse.html" target="_blank"></a>
                                    <img src="{{ url_for('static',filename='uploads/143.png') }}" width="250px" height="150px">
                            </div>

                            <div class="card-status" style="font-size: large; font-weight: 500;color: #2c4762">
                                <span>浏览量（10k）</span> <span>收藏量（10k）</span>

                            </div>
                        </div>


                    </div>

                </div>


            </div>
        <div class="col-md-3">
            <div class="media-card">
                <div class="panel panel-body" style="display:block; padding: 3px">
                    <div class="card-title">
                        <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                             西安交大四季风光
                        </span>

                        <span style="font-size: small;font-weight: 600;color: #0c0c0c">
                            牛二蛋
                        </span>
                    </div>

                    <div class="card-body">
                        <div class="card-image">
                            <a href="album_browse.html" target="_blank"></a>
                                <img src="{{ url_for('static',filename='uploads/143.png') }}" width="250px" height="150px">
                        </div>

                        <div class="card-status" style="font-size: large; font-weight: 500;color: #2c4762">
                            <span>浏览量（10k）</span> <span>收藏量（10k）</span>

                        </div>
                    </div>


                </div>

            </div>


        </div>


    </div>


{% endblock %}

{% block js_code %}
<script>
    $(document).ready(
        function () {

             $('#nav-6').addClass('active')

        }
    )
</script>
{% endblock %}



