{% extends 'layout.html' %}

{% block content %}
 <div class="jumbotron" style="padding: 5px 20px">


        <h1>{{ session.get('user_name') }}的个人中心</h1>

      </div>

    <div>

    {% include 'user_menu.html' %}


    <div class="col-md-10">
        <div class="jumbotron" style="padding-top: 10px">
            <h2>修改个人密码</h2>
            <hr/>

            {% for message in get_flashed_messages(category_filter=['err']) %}
                <h3 style="color: red">{{ message }}</h3>
            {% endfor %}
            {% for message in get_flashed_messages(category_filter=['ok']) %}
                <h3 style="color: green">{{ message }}</h3>
            {% endfor %}

            <form role="form" method="post" >
                <div class="form-group">

                    {{ form.old_pwd.label }}
                    {{ form.old_pwd }}

                    {#打印验证器里面的错误信息#}
                    {% for error in form.old_pwd.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}

                </div>
                <div class="form-group">

                    {{ form.new_pwd.label }}
                    {{ form.new_pwd }}

                    {#打印验证器里面的错误信息#}
                    {% for error in form.new_pwd.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}

                </div>

                <div class="form-group">
                    {{ form.csrf_token }}
                    {{ form.submit }}
        </div>
    </form>


        </div>



    </div>









{% endblock %}

{% block js_code %}
<script>
    $(document).ready(
        function () {

             $('#item-2').addClass('list-group-item-success')

        }
    )
</script>
{% endblock %}


